@page "/"
@inject HttpClient Http


<PageTitle>CineScrape</PageTitle>
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />
<div id="main-page">
	<h1 id="title">CINESCRAPE</h1>
	<div id="description-container">
		<p class="description">We are a company dedicated to providing information to users so they can know at any time where and when to see their favorite movie.</p> 
		<p class="description">We are grateful that you use our page and hope you like it :)</p>	
	</div>
	<div id="grafic-container">
		<select @bind="FilterOption" class="form-select">
			<option value="@Filters.RateCritics">Critics</option>
			<option value="@Filters.RateAudience">Audience</option>
			<option value="@Filters.Platforms">Platforms</option>
			<option value="@Filters.Runtime">Runtime</option>
			<option value="@Filters.Genders">Genders</option>
		</select>
	</div>
</div>

<div class="@((FilterOption == Filters.RateCritics || FilterOption == Filters.RateAudience  ) ? "d-block" : "d-none")">
	<Chart Config="PieConfig"></Chart>
</div>

<div class="@((FilterOption == Filters.Platforms) ? "d-block" : "d-none")">
	<Chart Config="DoughConfig"></Chart>
</div>

<div class="@((FilterOption == Filters.Runtime) ? "d-block" : "d-none")">
	<Chart Config="BarConfig"></Chart>
</div>

<div class="@((FilterOption == Filters.Genders) ? "d-block" : "d-none")">
	<Chart Config="PolarConfig"></Chart>
</div>

<div class="container">
	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
		<div class="col-md-8 d-flex align-items-center">
			<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
				<svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
			</a>
			<span class="text-muted">© 2023 CineScrape, Inc</span>
			<span id="exp" class="text-muted">Data extracted for educational purposes rottentomatoes.com</span>
		</div>
		<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<a id="separation" href="https://github.com/DeveloperFernandito23"><Icon Name="IconName.Github"></Icon></a>
			<a href="https://github.com/AntonioGuillen123"><Icon Name="IconName.Github"></Icon></a>
		</ul>
	</footer>
</div>