@page "/"
@inject HttpClient Http


<PageTitle>CineScrape</PageTitle>
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />
<div id="main-page">
	<h1 id="title">CINESCRAPE</h1>
	<div id="description-container">
		<p class="description">We are a company dedicated to providing information to users so they can know at any time where and when to see their favorite movie.</p> 
		<p class="description">We are grateful that you use our page and hope you like it :)</p>	
	</div>
	<div id="grafic-container">
		<select @bind="FilterOption" class="form-select">
			<option value="@Filters.RateCritics">Critics</option>
			<option value="@Filters.RateAudience">Audience</option>
			<option value="@Filters.Platforms">Platforms</option>
			<option value="@Filters.Runtime">Runtime</option>
			<option value="@Filters.Genders">Genders</option>
		</select>
	</div>
</div>

<div class="@((FilterOption == Filters.RateCritics || FilterOption == Filters.RateAudience  ) ? "d-block" : "d-none")">
	<Chart Config="PieConfig"></Chart>
</div>

<div class="@((FilterOption == Filters.Platforms) ? "d-block" : "d-none")">
	<Chart Config="DoughConfig"></Chart>
</div>

<div class="@((FilterOption == Filters.Runtime) ? "d-block" : "d-none")">
	<Chart Config="BarConfig"></Chart>
</div>

<div class="@((FilterOption == Filters.Genders) ? "d-block" : "d-none")">
	<Chart Config="PolarConfig"></Chart>
</div>