@page "/movies/{MovieId}"
@inject HttpClient Http

<PageTitle>@Movie.Title | CineScrape</PageTitle>



<div id="main-page">
	<div id="movie-info" class="container">
		<div id="poster-container">
			<img src="@Movie.PosterURL" />
		</div>
		<div id="main-info">
			<div id="title-container">
				<p id="movie-title">@Movie.Title</p>
				<div id="rate-container">
					<p id="rate-critic">@Movie.RateCritic</p>
					<p id="rate-audience">@Movie.RateAudience</p>
				</div>
			</div>
			<div id="trailer-container">
				<iframe id="trailer" src="@Movie.Trailer" width="640" height="360" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div id="platforms-description">
		<div id="platforms-container">
			@foreach (var item in Movie.Platforms)
			{
				<div class="platform">
					<img class="platform-image rounded-circle" alt="@item.Name" src="@item.Image" />
					@*DE AQUI NO TOQUES NADA QUE ESTO HACIENDO LAS IMAGENES A MANO PARA QUE SE VEAN 
						BIEN DE FORMA REDONDA, QUE LAS DE LA PÁGINA TIENE TRUCOS XDD
					*@
				</div>
			}
		</div>
		<div id="description-container">
			<p id="description">@Movie.Description</p>
		</div>
	</div>
	<div id="characteristics">
		<ul id="characteristics-container">
			@foreach (var item in Movie.Characteristics)
			{
				<li class="characteristic">
					<p class="characteristic-name">@item.Key</p>
					<p class="characteristic-value">@item.Value</p>
				</li>
			}
		</ul>
	</div>
	<div id="photos">
		@foreach (var item in Movie.Photos)
		{
			<img class="photo" src="@item" />
		}
	</div>
	<div id="casts">
		@foreach (var item in Movie.Casts)
		{
			<div class="cast">
				<img class="cast-photo" src="@item.UrlPhoto" />
				<p class="cast-name">@item.Name</p>
				<p class="cast-character">@item.Character</p>
			</div>
		}
	</div>
	<div id="reviews">
		<table id="table">
			<thead id="table-head">
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Review</th>
					<th>Full Review</th>
					<th>Publish Date</th>
				</tr>
				<tr>
					<th></th>
					<th><input type="text" @bind="@SearchName" /></th>
					<th><input type="text" @bind="@SearchMessage" /></th>
					<th></th>
					<th><input type="number" min="1" max="@MaxPage" @bind="@Page" /></th>
				</tr>
			</thead>
			<tbody id="table-body">
				@foreach (var item in OrderByDate(Reviews))
				{
					<tr class="review-row">
						<td class="review-photo"><img src="@item.UrlImage" /></td>
						<td class="review-name">@item.Name</td>
						<td class="review-message">@item.Message</td>
						<td class="review-fullreview"><a href="@item.FullReview">Full Review</a></td>
						<td class="review-date">@item.Date.ToString().Split(' ')[0]</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>


