@page "/movies/{MovieId}"
@using CineScrapeProject.Models;
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>@Movie.Title | CineScrape</PageTitle>



<div id="main-page">
	<div id="movie-info" class="container">
		<div id="poster-container">
			<img src="@Movie.PosterURL" />
		</div>
		<div id="main-info">
			<div id="title-container">
				<p id="movie-title">@Movie.Title</p>
				<div id="rate-container">
					<p id="rate-critic">@Movie.RateCritic.NullCritic()</p>
					<p id="rate-audience">@Movie.RateAudience.NullCritic()</p>
				</div>
			</div>
			<div id="trailer-container">
				<iframe id="trailer" src="@Movie.Trailer" width="640" height="360" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div id="platforms-description">
		<div id="platforms-container">
			@foreach (var item in Movie.Platforms)
			{
				<div class="platform">
					<img class="platform-image rounded-circle" alt="@item.Name" src="/platfoms-images/@(item.Name).png" />
					@*DE AQUI NO TOQUES NADA QUE ESTO HACIENDO LAS IMAGENES A MANO PARA QUE SE VEAN 
						BIEN DE FORMA REDONDA, QUE LAS DE LA PÁGINA TIENE TRUCOS XDD
					*@
				</div>
			}
		</div>
		<div id="description-container">
			<p id="description">@Movie.Description</p>
		</div>
	</div>
	<div id="characteristics">
		<ul class="list-group list-group-flush">
			@foreach (var item in Movie.Characteristics)
			{
				<li class="list-group-item">
					<strong>@(item.Key)</strong> @item.Value
				</li>
			}
		</ul>
	</div>
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			@foreach (var item in Movie.Photos)
			{
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@_count" class="@((_count == 0) ? "active" : "")" aria-current="true" aria-label="Slide @(_count + 1)"></button>
				_count++;
			}
			@{
				_count = 0;
			}
		</div>
		<div class="carousel-inner">
			@foreach (var item in Movie.Photos)
			{
				<div class="carousel-item @((_count == 0) ? "active" : "")">
					<img src="@item" class="d-block w-100" alt="...">
				</div>

				_count++;
			}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Anterior</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Siguiente</span>
		</button>
	</div>
	<strong id="title-cast">CAST & CREW</strong>
	<br />
	<div id="casts">
		@foreach (var item in Movie.Casts)
		{
			<figure class="figure">
				<img src="@item.UrlPhoto" class="figure-img img-fluid rounded" alt="Not found :(">
				<figcaption class="figure-caption">@item.Name<br /> @item.Character</figcaption>
			</figure>
		}
	</div>
	<div id="reviews">

		<input type="number" min="1" max="@MaxPage" @bind="@Page" />

		<table id="table">
			<thead id="table-head">
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Review</th>
					<th>Full Review</th>
					<th>Publish Date</th>
				</tr>
				<tr>
					<th></th>
					<th><input type="text" @bind="@SearchName" /></th>
					<th><input type="text" @bind="@SearchMessage" /></th>
					<th></th>
					<th>
						<div>
							<select @bind="@OrderOption">
								<option value="@Order.Latest">Lastest</option>
								<option value="@Order.Oldest">Oldest</option>
							</select>
						</div>
					</th>
				</tr>
			</thead>
			<tbody id="table-body">
				@foreach (var item in Pagination(Reviews))
				{
					<tr class="review-row">
						<td class="review-photo"><img src="@item.UrlImage" /></td>
						<td class="review-name">@item.Name</td>
						<td class="review-message">@item.Message</td>
						<td class="review-fullreview"><a href="@item.FullReview">Full Review</a></td>
						<td class="review-date">@PrintDate(item.Date)</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

