@page "/movies"
@inject HttpClient Http
@using CineScrapeProject.Models;

<PageTitle>Movies | CineScrape</PageTitle>


<div id="main-page">
	<header>
		<div class="search-container">
				<div class="input-group">
					<span class="input-group-text" id="basic-addon1">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
							 viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
							</path>
						</svg>
					</span>
					<div class="form-floating">
						
						<input class="form-control" type="search" @bind="@SearchValue" placeholder="MovieFinder..." />

						<label for="search-bar">Movie Finder</label>
					</div>
				</div>
		</div>
		<select class="form-select" @bind="SeeOption">
			<option value="@See.Cinema">In Cinema</option>
			<option value="@See.Home">At Home</option>
			<option value="@See.ComingSoon">Coming Soon...</option>++
		</select>
	</header>

	<div id="filters-container">
		<div id="filter-gender">
			@foreach (var item in Genders)
			{
				bool contains = TotalFilters[0].Contains(item.Name);

				<button type="button" class="btn btn-primary @( contains? "active" : "")" aria-pressed="false" autocomplete="off" @onclick="() => FilterGender(item.Name, (!contains ? true : false))">@item.Name</button>
			}
		</div>

		
		<button type="button" class="btn btn-primary" aria-pressed="false" autocomplete="off" @onclick="() => RestartFilters()">Reset Filters...</button>
		
	</div>


	<div class="container" id="movies-list">
		@foreach (var item in SearchMovie(MovieList))
		{
			@*<div class="movie-container">
				<img class="poster" src="@item.PosterURL" />
				<div class="title-container">
					<p class="title">@item.Title</p>
					<div class="rate-container">
						<p class="rate-critic">@item.RateCritic</p>
						<p class="rate-audience">@item.RateAudience</p>
					</div>
				</div>
			</div>*@
			<a href="/movies/@item.Id">
				<div class="card" style="width: 12rem;">
					<img src="@item.PosterURL" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">@item.Title</h5>
						<div class="critic-container">
							<abbr title="Critic">
							<img id="img-card" src="./critic-img.png">
							</abbr>
							<p class="card-text">@item.RateCritic.NullCritic() </p>
						</div>
						<div class="audience-container">
							<abbr title="Audience">
							<img id="img-card" src="./audience-img.png">
							</abbr>
							<p class="card-text">@item.RateAudience.NullCritic()</p>
						</div>
					</div>
				</div>
			</a>
		}
	</div>
</div>